{% extends 'base.html.twig' %}

{% block title %}Choisir un type | Client Secrets Vault{% endblock %}
{% block page_title %}Nouveau secret{% endblock %}
{% block page_intro %}Sélectionne le type de secret à enregistrer pour {{ project.name }}.{% endblock %}

{% block body %}
    <section class="panel">
        <div class="type-grid">
            {% for type, definition in secretTypes %}
                <a class="type-card" href="{{ path('app_secret_new', {id: project.idString, type: type}) }}">
                    <strong>{{ definition.label }}</strong>
                    <p>{{ definition.description }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
